**/__pycache__
.claude
.direnv
.vscode
base
build
!fixtures/ci/seeds/build/
!fixtures/ci/seeds/build/**
config/*.xml
data/*
disks/*
include/gte_macros.inc
include/include_asm.h
include/labels.inc
include/macro.inc
nonmatchings
objdiff.json
fixtures/ci/.installed
fixtures/ci/seeds/**/*.log
tools/.sysdeps
tools/python
