sha1: 2fbcfe478a4279f1268f85fad365d45f7ceffd86
options:
  basename: GIM/SCREFF2.PRG
  target_path: data/GIM/SCREFF2.PRG
  elf_path: build/data/GIM/SCREFF2.PRG.elf
  asm_path: build/src/GIM/SCREFF2.PRG
  src_path: src/GIM/SCREFF2.PRG
  asset_path: build/assets/GIM/SCREFF2.PRG
  ld_script_path: build/config/GIM/SCREFF2.PRG/link.ld
  symbol_addrs_path: 
    - config/GIM/SCREFF2.PRG/symbol_addrs.txt
    - config/SLUS_010.40/symbol_addrs.txt
  undefined_funcs_auto_path: build/config/GIM/SCREFF2.PRG/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/config/GIM/SCREFF2.PRG/undefined_syms_auto.txt

segments:
  - start: 0x0
    type: code
    vram: 0x800F9800
    align: 4
    subsegments:
      - [0x00, c]
  - [0x914]
