sha1: 0baa6b296d0e98465b8c9db7e16cc10dccd16024
options:
  basename: MENU/MENUB.PRG
  target_path: data/MENU/MENUB.PRG
  elf_path: build/data/MENU/MENUB.PRG.elf
  asm_path: build/src/MENU/MENUB.PRG
  src_path: src/MENU/MENUB.PRG
  asset_path: build/assets/MENU/MENUB.PRG
  ld_script_path: build/config/MENU/MENUB.PRG/link.ld
  symbol_addrs_path: 
    - config/MENU/MENUB.PRG/symbol_addrs.txt
    - config/SLUS_010.40/symbol_addrs.txt
    - config/BATTLE/BATTLE.PRG/symbol_addrs.txt
    - config/MENU/MAINMENU.PRG/symbol_addrs.txt
  undefined_funcs_auto_path: build/config/MENU/MENUB.PRG/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/config/MENU/MENUB.PRG/undefined_syms_auto.txt

segments:
  - start: 0x0
    type: code
    vram: 0x80102800
    align: 4
    subsegments:
      - [0x0, .rodata, 260]
      - [0x260, c]
      - [0x7A80, data, 260]
      - [0x7DE8, bss, 260]
  - [0x7EC4]
