sha1: 46ff0ff5743e9c300ed27c1d4759075fe35e02d5
options:
  basename: MENU/MENUF.PRG
  target_path: data/MENU/MENUF.PRG
  elf_path: build/data/MENU/MENUF.PRG.elf
  asm_path: build/src/MENU/MENUF.PRG
  src_path: src/MENU/MENUF.PRG
  asset_path: build/assets/MENU/MENUF.PRG
  ld_script_path: build/config/MENU/MENUF.PRG/link.ld
  symbol_addrs_path: 
    - config/MENU/MENUF.PRG/symbol_addrs.txt
    - config/MENU/MENUF.PRG/exports.txt
    - config/SLUS_010.40/exports.txt
    - config/BATTLE/BATTLE.PRG/exports.txt
  undefined_funcs_auto_path: build/config/MENU/MENUF.PRG/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/config/MENU/MENUF.PRG/undefined_syms_auto.txt

segments:
  - start: 0x0
    type: code
    vram: 0x80102800
    align: 4
    subsegments:
      - [0x0, .rodata, 3B8]
      - [0x3B8, c]
      - [0x69D8, data, 3B8]
      - [0x704C, bss, 3B8]
  - [0x71F8]
