sha1: 9ba77415b359b76234dc8ba09e8967b6f4a97b84
options:
  basename: MENU/MENU3.PRG
  target_path: data/MENU/MENU3.PRG
  elf_path: build/data/MENU/MENU3.PRG.elf
  asm_path: build/src/MENU/MENU3.PRG
  src_path: src/MENU/MENU3.PRG
  asset_path: build/assets/MENU/MENU3.PRG
  ld_script_path: build/config/MENU/MENU3.PRG/link.ld
  symbol_addrs_path: 
    - config/MENU/MENU3.PRG/symbol_addrs.txt
    - config/MENU/MENU3.PRG/exports.txt
    - config/SLUS_010.40/exports.txt
    - config/BATTLE/BATTLE.PRG/exports.txt
    - config/MENU/MAINMENU.PRG/exports.txt
  undefined_funcs_auto_path: build/config/MENU/MENU3.PRG/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/config/MENU/MENU3.PRG/undefined_syms_auto.txt

segments:
  - start: 0x0
    type: code
    vram: 0x80102800
    align: 4
    subsegments:
      - [0x0, .rodata, 16C]
      - [0x16C, c]
      - [0x68C4, c]
      - [0x6BB8, data, 16C]
      - [0x6E44, bss, 16C]
  - [0x6F68]
