sha1: 384e89e244324a416eb8e33dc8d60eb0d8bcdb64
options:
  basename: ENDING/ENDING.PRG
  target_path: data/ENDING/ENDING.PRG
  elf_path: build/data/ENDING/ENDING.PRG.elf
  asm_path: build/src/ENDING/ENDING.PRG
  src_path: src/ENDING/ENDING.PRG
  asset_path: build/assets/ENDING/ENDING.PRG
  ld_script_path: build/config/ENDING/ENDING.PRG/link.ld
  symbol_addrs_path: 
    - config/ENDING/ENDING.PRG/symbol_addrs.txt
    - config/SLUS_010.40/symbol_addrs.txt
  undefined_funcs_auto_path: build/config/ENDING/ENDING.PRG/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/config/ENDING/ENDING.PRG/undefined_syms_auto.txt

segments:
  - start: 0x0
    type: code
    vram: 0x80068800
    align: 4
    subsegments:
      - [0x0, .rodata, D4]
      - [0xD4, c]
      - [0x5BFC, data]
      - [0x72F30, .data, illustLbas]
      - [0x72FB0, data]
      - [0x73318, bss]
  - [0x73A1C]
