sha1: 6d6d58f8cf8fad4b6e0e7622be661f13ac052c9c
options:
  basename: MENU/MENU9.PRG
  target_path: data/MENU/MENU9.PRG
  elf_path: build/data/MENU/MENU9.PRG.elf
  asm_path: build/src/MENU/MENU9.PRG
  src_path: src/MENU/MENU9.PRG
  asset_path: build/assets/MENU/MENU9.PRG
  ld_script_path: build/config/MENU/MENU9.PRG/link.ld
  symbol_addrs_path: 
    - config/MENU/MENU9.PRG/symbol_addrs.txt
    - config/SLUS_010.40/symbol_addrs.txt
    - config/BATTLE/BATTLE.PRG/symbol_addrs.txt
    - config/MENU/MAINMENU.PRG/symbol_addrs.txt
  undefined_funcs_auto_path: build/config/MENU/MENU9.PRG/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/config/MENU/MENU9.PRG/undefined_syms_auto.txt

segments:
  - start: 0x0
    type: code
    vram: 0x80102800
    align: 4
    subsegments:
      - [0x0, .rodata, 238]
      - [0x238, c]
      - [0x57BC, c]
      - [0x592C, c]
      - [0x5D1C, data, 238]
      - [0x7A14, bss, 238]
  - [0x7CB8]
